<html>
    <head>
        <link rel="stylesheet" href="dist/css/reveal.css">
        <link rel="stylesheet" href="dist/css/white.css">
        <link rel="stylesheet" href="presentation.css">
        <link rel="stylesheet" href="dist/css/highlight.css">
        <script src="../src/initialize_grid.js"></script>
    </head>
    <body>
        <div id="hidden" style="display:none;">
            <div id="header">
                <div id="footer-left">github.com/CatherineH/websockets-demo</div>
            </div>
        </div>

        <div class="reveal">
            <div class="slides">
                <section>
                    <h1>Websockets for Non-netflix devs</h1>
                    <h2>Catherine Holloway</h2>
                </section>
                <section>
                    <img src="road_trip.jpg" />
                </section>
                <section>
                    <img src="wireshark_http.png" />
                </section>
                <section>
                    <img src="mile_marker.jpg" />
                </section>
                <section>
                    <img src="wireshark_ws.png" />
                </section>
                <section>
                    <p>Netflix - Zuul</p>
                    <a href="https://www.youtube.com/watch?v=6w6E_B55p0E">https://www.youtube.com/watch?v=6w6E_B55p0E</a>
                </section>
                <section><img src="a_part_of_our_heritage_oddpost.jpg" /></section>
                <section align="left">
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   height="600px"
   version="1.1"
   width="800px"
   id="svg124"
   sodipodi:docname="timeline.svg"
   inkscape:version="0.92.4 (5da689c313, 2019-01-14)">
  <metadata
     id="metadata128">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="2560"
     inkscape:window-height="1361"
     id="namedview126"
     showgrid="false"
     inkscape:zoom="1.9466667"
     inkscape:cx="309.58904"
     inkscape:cy="219.22965"
     inkscape:window-x="-9"
     inkscape:window-y="-9"
     inkscape:window-maximized="1"
     inkscape:current-layer="svg124" />
  <defs
     id="defs70" />
  <line
     style="stroke:#191928;stroke-width:5;stroke-miterlimit:4;stroke-dasharray:none"
     x1="233.21918"
     x2="233.21918"
     y1="295.30826"
     y2="365.30826"
     id="line72-3" />
  <line
     stroke="rgb(10%,10%,16%)"
     stroke-width="5"
     x1="50"
     x2="750"
     y1="300.0"
     y2="300.0"
     id="line72" />
  <circle
     cx="50.0"
     cy="300.0"
     fill="white"
     r="10"
     stroke="rgb(10%,10%,16%)"
     stroke-width="5"
     id="circle74" />
  <text
     style="font: italic 32px sans-serif"
     x="40.0"
     y="342.0"
     id="text76">1996</text>
  <text
     style="font: bold 32px sans-serif"
     x="40.0"
     y="374.0"
     id="text78">iframes</text>
  <circle
     cx="141.30434782608694"
     cy="300.0"
     fill="white"
     r="10"
     stroke="rgb(10%,10%,16%)"
     stroke-width="5"
     id="circle80" />
  <text
     style="font: italic 32px sans-serif"
     x="131.30434782608694"
     y="278.0"
     id="text82">1999</text>
  <text
     style="font: bold 32px sans-serif"
     x="131.30434782608694"
     y="246.0"
     id="text84">ActiveX</text>
  <text
     style="font: bold 32px sans-serif"
     x="131.30434782608694"
     y="214.0"
     id="text86">http 1.1</text>
  <circle
     cx="232.6086956521739"
     cy="300.0"
     fill="white"
     r="10"
     stroke="rgb(10%,10%,16%)"
     stroke-width="5"
     id="circle88" />
  <text
     style="font-style:italic;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:32px;line-height:normal;font-family:sans-serif"
     x="222.60869"
     y="394"
     id="text90">2002</text>
  <text
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:32px;line-height:normal;font-family:sans-serif"
     x="222.60869"
     y="426"
     id="text92">Oddpost</text>
  <circle
     cx="293.47826086956525"
     cy="300.0"
     fill="white"
     r="10"
     stroke="rgb(10%,10%,16%)"
     stroke-width="5"
     id="circle94" />
  <text
     style="font-style:italic;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:32px;line-height:normal;font-family:sans-serif"
     x="283.47827"
     y="212"
     id="text96">2004</text>
  <text
     style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:32px;line-height:normal;font-family:sans-serif"
     x="283.47827"
     y="178"
     id="text98">Gmail</text>
  <circle
     cx="323.9130434782609"
     cy="300.0"
     fill="white"
     r="10"
     stroke="rgb(10%,10%,16%)"
     stroke-width="5"
     id="circle100" />
  <text
     style="font: italic 32px sans-serif"
     x="313.9130434782609"
     y="342.0"
     id="text102">2005</text>
  <text
     style="font: bold 32px sans-serif"
     x="313.9130434782609"
     y="374.0"
     id="text104">AJAX</text>
  <circle
     cx="354.3478260869565"
     cy="300.0"
     fill="white"
     r="10"
     stroke="rgb(10%,10%,16%)"
     stroke-width="5"
     id="circle106" />
  <text
     style="font: italic 32px sans-serif"
     x="344.3478260869565"
     y="278.0"
     id="text108">2006</text>
  <text
     style="font: bold 32px sans-serif"
     x="344.3478260869565"
     y="246.0"
     id="text110">Comet</text>
  <circle
     cx="506.5217391304348"
     cy="300.0"
     fill="white"
     r="10"
     stroke="rgb(10%,10%,16%)"
     stroke-width="5"
     id="circle112" />
  <text
     style="font: italic 32px sans-serif"
     x="496.5217391304348"
     y="342.0"
     id="text114">2011</text>
  <text
     style="font: bold 32px sans-serif"
     x="496.5217391304348"
     y="374.0"
     id="text116">WebSocket</text>
  <circle
     cx="750.0"
     cy="300.0"
     fill="white"
     r="10"
     stroke="rgb(10%,10%,16%)"
     stroke-width="5"
     id="circle118" />
  <text
     style="font-style:italic;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:32px;line-height:normal;font-family:sans-serif"
     x="680"
     y="278"
     id="text120">2019</text>
  <text
     style="font: bold 32px sans-serif"
     x="740.0"
     y="246.0"
     id="text122" />
  <line
     style="stroke:#191928;stroke-width:5;stroke-miterlimit:4;stroke-dasharray:none"
     x1="292.80823"
     x2="292.80823"
     y1="220.30821"
     y2="290.30823"
     id="line72-3-1" />
</svg>

                </section>
                <section>
                    <p>github.com/kkuchta/css-only-chat</p>
                    <img src="css_only_chat.gif" />
                </section>
                <section>
                    <p>3 Ways to use Websockets + Vue</p>
                </section>
                <section id="directly">
                <h3>Directly</h3>
                    <pre><code class="hljs javascript">
mounted: function () {
    var app_handle = this;
    const socket = new WebSocket('ws://localhost:8080');

    // Connection opened
    socket.addEventListener('open', function (event) {
        socket.send('Hello Server!');
    });
    // Listen for messages
    socket.addEventListener('message', function (event) {
        app_handle.data = event.data;
    });
	</code></pre>
                </section>
                <section>
                <h3>vue-native-websockets</h3>
                    <pre><code data-trim data-noescape class="hljs javascript">
import VueNativeSock from 'vue-native-websocket'
Vue.use(VueNativeSock, 'ws://localhost:8080')
var vm = new Vue({
mounted: function () {
    var app_handle = this;
    this.$socket.addEventListener('open', function (event) {
        socket.send('Hello Server!');
    });
    this.$socket.addEventListener('message', function (event) {
        app_handle.data = event.data;
    });
})
	</code></pre>
                </section>
                <section>
                    <h3>vue-native-websockets vuex</h3>
                    <pre><code data-trim data-noescape class="hljs javascript">
Vue.use(VueNativeSock, 'ws://localhost:9090', {
  passToStoreHandler: function (eventName, event, next) {
    event.data = event.should_have_been_named_data
    next(eventName, event)
  }
})
	</code></pre>
                </section>
                <section><h3>vue + socket.io</h3>
                    <p>Vue-Socket.io - 3380</p>
                    <p>vue-websocket - 436</p>
                </section>
                <section><h2>What to expect when you're expecting a TCP packet</h2></section>
                <section id="app">
                    <div style="width: 50%;float: left">
                        <p>WebSockets</p>
                    </div>
                    <div style="margin-left: 50%">
                        <p>HTTP</p>
                    </div>
                    <svg  v-bind:height="total_height" v-bind:width="total_width">
                        <rect v-for="block in blocks[0]" v-bind:fill="block.fill" fill-opacity="0.5" height="20"
                              stroke-width="0" v-bind:width="block_size" v-bind:x="block.x" v-bind:y="block.y"/>
                        <rect v-for="block in blocks[1]" v-bind:fill="block.fill" fill-opacity="0.5" height="20"
                              stroke-width="0" v-bind:width="block_size" v-bind:x="block.x" v-bind:y="block.y"/>
                    </svg>
                </section>
                <section>
                    <img src="out_of_order.jpg" />
                </section>
                <section>
                    <img src="chrome_return_times.png"/>
                </section>
                <section>
                    Microsoft Edge wut
                    <img src="edge_return_times.jpg"/>
                </section>
                <section>
                    <img src="cpu_usage.png"/>
                </section>
                <section>
                    <img src="memory_usage.png"/>
                </section>
                <section>
                    <p>WebSocket - bidirectional TCP</p>
                    <p>EventSource - persistent HTTP with text/event-stream</p>
                </section>
                <section>
                    What's your backend?
                </section>
                <section>
                    Be Progressive!
                </section>
                <script src="dist/bundle.js"></script>
            </div>
        </div>
    </body>
</html>